html, body, header, main, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

#character-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

#character-list div {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.character-detail{
    display: flex !important;
    justify-content: center !important;
    margin-top: 20px !important;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#container-search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.character{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character:hover{
    background-color: rgb(214, 214, 214) !important;
    cursor: pointer;
}